.overlay {
	width:100%;
	position:absolute;
	background-color:white;
	top:0;
	z-index:100;

	.container {
		color:#000;
		position:relative;
	}
	.close {
		position:absolute;
		right:0px;
		top:0px;
		background:url(../img/close.png);
		height:16px;
		width:16px;
	}
	h3 {
		margin-top:20px;
		margin-bottom: 20px;
	}
	#categories, #c-levels {
		padding-bottom:15px;
	}
	.choice {
		border:1px solid #DDDDDD;
		border-radius:8px;
		padding-top: 17px;
		padding-bottom:17px;
		padding-left:20px;
		padding-right:20px;
		text-align: left;
		margin-bottom: 5px;
		cursor:pointer;
		position:relative;
		height:19px;
	}

	input[type=radio]{
		display:none;
	}
	label.category-group, label.commit-group {
		display: block;
		height:10px;
		width:10px;
		border-radius:50%;
		border:3px solid #ddd;
		background-color:#F0F0F0;
		position:absolute;
		right:11px;
		top:19px;

	}
	label.full-width {
		width:calc(100% - 14px);
		display:block;
		color:#7D7D7D;
		height:100%;
		position: absolute;
		top: 0px;
		left:0px;
   		padding-left: 14px;
  		font-size: 16px;
  		line-height: 54px;
	}
	input[type=radio]:checked + label.category-group, input[type=radio]:checked + label.commit-group {
		display: block;
		height:10px;
		width:10px;
		border:3px solid #ddd;
		border-radius:50%;
		background-color:#084764;
		position:absolute; 
	}

	input[type=radio]:checked ~ label.full-width {
		color:#084764;
	}

}
.category {
	display:none;

}

.c-level {
	display:none;
}

